body{
    margin: 0;
    background-color: hsl(215, 28%, 17%);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.container {
    max-width: 50%;
    margin: 80px auto 20px;
}

#generate-btn {
    color: hsl(160, 100%, 10%);
    font-weight: 700;
    letter-spacing: 0.5px;
    background-color: hsl(160, 84%, 39%);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 40px;
    transition: .3s;
}

#generate-btn:hover{
    background-color: hsl(160, 84%, 28%);
}

span{
    color: hsl(144, 70%, 58%);
}

#passwords {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

hr{
    border: 1px solid hsl(215, 30%, 22%);
    border-radius: 5px;
}

.pass-btn {
    background-color: hsl(215, 30%, 22%);
    border-radius: 5px;
    margin: 10px 0;
    color: #4ADF86;
    padding: 20px 25px;
    text-align: center;
    border: none;
    font-size: 16px;
    word-wrap: break-word;
    cursor: pointer;
    width: 100%;
}

label {
    color: hsl(255, 5%, 84%);
}

#title {
    margin: 40px 0 5px 0;
}
#subtitle{
    color: hsl(255, 5%, 84%);
    margin: 0 0 40px 0;
}

#char-length {
    margin: 0 0 10px 0;
}

#pass-len {
    background-color: hsl(215, 30%, 22%);
    font-size: 16px;
    border: none;
    color: hsl(255, 5%, 84%);
    border-radius: 5px;
    width: 75px;
    padding: 5px 10px;
}

@media screen and (max-width: 768px){
    .container{
        max-width: 75%;
    }

    #pass-len{
        margin-top: 15px;
    }
}

@media screen and (min-width: 900px){
    #passwords {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 15px;
        gap: 10px;
    }

    .pass-btn{
        width: 100%;
    }
}